body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="file"], input[type="text"], input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    background-color: #022aef;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #11206b;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #007BFF;
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

    input[type="file"],
    input[type="text"],
    input[type="submit"],
    .button {
        font-size: 14px;
    }
}

/* Gaya untuk kontainer utama */
.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Gaya untuk heading */
h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Gaya untuk tombol */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

/* Gaya untuk daftar hasil pencarian */
ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    color: #007BFF;
}
